.scrollContainer{
  width: 100%;
  overflow: auto;
  position: relative;
  white-space: nowrap;
  max-height: 100vh;
  /* 防止换行 */
  touch-action: pan-y; 
  .content{
    display: inline-block;
    font-size: 0;
  }
  .headerItem {
    position: sticky;
    /* top: 0; */
    /* 固定在顶部 */
    background-color: #ffcc00;
    padding: 10px 0;
    z-index: 10;
    /* 确保 header 在内容之上 */
    font-size: 20px;
    white-space: nowrap;
    /* top: 0; */
    left: 0;
    width: 100vw;
    /* 确保文字不换行 */
  }

  /* 内容项 */
  .item {
    box-sizing: border-box;
    border: 1px solid #000;
    width: 50vw;
    text-wrap: wrap;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    display: inline-flex;
    /* 防止换行 */
  }

  .headerTop{
    box-sizing: border-box;
    border: 1px solid #000;
    width: 50vw;
    text-wrap: wrap;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    display: inline-flex;
    position: sticky;
    top: 0;
    /* 固定在顶部 */
    background-color: #ffcc00;
    padding: 10px 0;
    z-index: 10;
    /* 确保 header 在内容之上 */
    font-size: 20px;
    white-space: nowrap;
    /* top: 0; */
    /* left: 0; */
    z-index: 9990;
  }
}
